/* media queries */

@media screen and (max-width: 640px) {
    body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }

    main section{
        max-width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .nav-logo {
        font-size: 25px;
    }

    .nav-menu {
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        flex-direction: column;
        gap: 24px;
        text-align: center;
        margin-left: 20px;
    }

    ul>li {
        font-size: 20px;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin-left: 7px;
    }

    .banner-content {
        width: 496px;
        text-align: center;
        margin-left: 65px;
    }

    .banner-photo-container {
        width: 400px;
        height: 390px;
        margin-left: 95px;
    }

    .banner-photo {
        width: 300px;
        height: 300px;
        top: 40px;
        left: 60px;
    }

    .banner-photo-container img {
        top: 10%;
        left: 5%;
        width: 350px;
    }

    /* main section related styles */
    .brand-logos {
        display: block;
        padding: 0;
        border: none;
    }

    .brand-logos img {
        width: 80px;
        margin-right: 0;
    }

    .logos1 img:first-child {
        width: 55px;
        margin-right: 0;
    }

    .logos1 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 28px;
        gap: 60px;

    }

    .logos2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

    }

    .logos2 img {
        width: 100px;
    }

    .logos2 img:nth-child(2) {
        width: 105px;
    }

    /* collection section related styles */

    .section-title{
        margin-left: 3%;
    }

    /* products section related styles */

    .products {
        grid-template-columns: repeat(1, 300px);
        margin-left: 8%;
    }

    .product {
        width: 175%;
        height: 47rem;
    }

    .product-image {
        margin-bottom: 32px;
    }

    .product-image img {
        width: 510px;
        height: 440px;
    }

    .product-title {
        font-weight: 700;
        font-size: 46px;
    }

    .price {
        font-weight: 700;
        font-size: 40px;
    }

    .product-content h3,
    .product-content p {
        margin-bottom: 20px;
    }

    .rating {
        font-size: 23px;
    }

    .product-content .description {
        font-size: 22px;
        font-weight: 400;
        width: 337px;
    }

    .more {
        margin-right: 51px;
        font-size: 27px;
    }

    /* featured section related styles */

    .featured{
        flex-direction: column-reverse;
        text-align: center;
        gap: 2rem;
        margin-left: 0;
    }

    .featured h3{
        padding: 0 2rem;
        margin-left: 0;
    }

    .featured p{
        width: 498px;
        margin-left: 4rem;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 55px;
    }

    .featured img{
        width: 500px;
    }

    .btn-primary{
        padding: 20px 60px;
        font-size: 25px;
    }

    footer{
        padding: 50px;
    }
}