/* Shared styles */

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
}


main section {
    max-width: 76%;
    margin: 5% auto;
}

.section-title {
    text-align: center;
    margin: 30px 0;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    /* 250% */
}

/* nav related styles */

nav {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    gap: 50px
}

.nav-logo {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

ul {
    display: flex;
}

ul>li {
    list-style: none;
    margin-right: 30px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

.fa-magnifying-glass {
    font-size: 23px;
}

.fa-cart-shopping {
    font-size: 23px;
}

/* banner related styles */

.banner-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 120px;
    gap: 35px;
}

.banner-content {
    max-width: 500px;
}

.banner-content h1,
.banner-content p,
.btn-primary {
    margin-bottom: 16px;
}

.banner-content h1 {
    color: #3A3A3A;
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
}

.banner-content p {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

.banner-photo-container {
    border-radius: 475px;
    border: 3px solid #F1E4FF;
    padding: 5px;
    position: relative;
}

.banner-photo-container img {
    position: relative;
    z-index: 1;
}

.banner-photo {
    background-color: #F1E4FF;
    border-radius: 50% 50% 51% 49% / 49% 49% 51% 51%;
    width: 325px;
    height: 325px;
    position: absolute;
    top: 50px;
    left: 83px;

}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    display: inline-flex;
    padding: 13px 30px;
    align-items: flex-start;
    gap: 8px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    border: 0;
}

/* main section */

.brand-logos {
    border-top: 1px solid #E1E6ED;
    border-bottom: 1px solid #E1E6ED;
    padding: 35px 0;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.brand-logos img {
    margin-right: 80px;
}

/* products section related styles */

.products {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    margin-left: 170px;
}

.product-image {
    text-align: center;
}

.product-content {
    margin-left: 15px;
}

.product-content h3,
.product-content p {
    margin-bottom: 5px;
}

.price {
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
}

.rating {
    color: #5E6366;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: 0.1px;
}

.product-title {
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    /* 142.857% */
}

.product-content .description {
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    /* 20.02px */
    letter-spacing: 0.252px;
    width: 196px;
}

.product {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 329px;
    height: 476px;
    padding: 5%;
}

.more {
    text-align: right;
    margin-top: 50px;
    margin-right: 160px;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
}

/* featured related section */

.featured {
    display: flex;
    align-items: center;
    gap: 8rem;
    margin-left: 23rem;
    /* max-width: 1440px;
    margin: auto; */
}

.featured img {
    width: 482px;

}

.featured h3 {
    color: #0A0826;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    /* 157.895% */
}

.featured p {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    width: 500px;
    /* 175% */
}

.featured h3,
.featured p {
    margin-bottom: 16px;
}

.featured-content {
    max-width: 830px;
    /* margin-right: 90px; */
}

.btn-featured {
    border-radius: 0;
}

/* footer related styles */

footer {
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 50px 590px;
    margin-top: 50px;
}

footer h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

footer p {
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.fa-brands {
    font-size: 25px;
    margin: 0 10px;
}

footer h3,
footer p,
footer div {
    margin-bottom: 15px;
}